<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="hibernate.connection.url">jdbc:sqlserver://172.18.118.214:1433;databaseName=BordingManifest</property>
    <property name="hibernate.connection.username">mmuser</property>
    <property name="hibernate.connection.password">Aeromexico02</property>
  </session-factory>
</hibernate-configuration>
