<beans:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:beans="http://www.springframework.org/schema/beans" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd                           
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-3.2.xsd">
         <beans:import resource="spring-persistence.xml"/>
        
         <http auto-config="true">
		<intercept-url pattern="/admin**" access="ROLE_USER" />
                <intercept-url pattern="/*" access="ROLE_USER" />
	</http>         
        
	<beans:bean id="usuariosDAOImpl"
		class="com.aeromexico.tideveloper.dao.UsuariosDAOImpl">
		<beans:constructor-arg index="0" ref="sessionFactory" />
	</beans:bean>
        
	<!--descomantar-->
	<beans:bean id="customA"
		class="com.aeromexico.tideveloper.security.DaoAuthenticationProvider">
		<!--<beans:property name="usuImp" ref="usuariosDAOImpl" />-->
	</beans:bean>

	<authentication-manager alias="authenticationManager">
		<!-- <authentication-provider> <user-service> <user authorities="ROLE_SUPERVISOR" 
			name="aeromexico" password="Aeromexico01" /> </user-service> </authentication-provider> -->
		<authentication-provider ref="customA" />
	</authentication-manager>
    </beans:beans>
