<beans:beans xmlns="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:beans="http://www.springframework.org/schema/beans" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd                           
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security-3.2.xsd">
         <beans:import resource="spring-persistence.xml"/>
        
         <http use-expressions="true" >
		<intercept-url pattern="/views/index.jsp" access="isAuthenticated()" />
                <intercept-url pattern="/resouces/**" access="isAuthenticated()" />
                <intercept-url pattern="/servicios/**" access="isAuthenticated()" />                
                <intercept-url pattern="/*" access="isAuthenticated()" />
                <form-login login-page="/views/login.jsp"></form-login>
	</http>                 


	<authentication-manager alias="authenticationManager">
		<!-- <authentication-provider> <user-service> <user authorities="ROLE_SUPERVISOR" 
			name="aeromexico" password="Aeromexico01" /> </user-service> </authentication-provider> -->
		<authentication-provider ref="customA" />
	</authentication-manager>
    </beans:beans>
